<ul class="list-group">
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let category of categories">
        {{ category.name }}
        <i class="far fa-edit"></i>
    </li>
</ul>
<hr>
<form ngNativeValidate #f="ngForm" (ngSubmit)="onAdd(f)" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" ngModel name="name" class="form-control" id="category" placeholder="Nueva categoría" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Agregar</button>
</form>