.fa-undo {
    color: #FF0C0C;
}

.awesome-icons {
    cursor: pointer;
}

.itemDelete {
    background-color: #BED9FF;
}

.itemAdded {
    background-color: #A4EC93;
}

.fa-check {
    color: #076BFF;
}

.edit {
    min-width: 85%;
}